{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Protest+Riot&display=swap">



<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Protest Riot', sans-serif;
        height: 100vh; /* This ensures that the container takes up the full height of the viewport */
    }
</style>

<br>
<div class="center">
    <h1>WELCOME TO AUTOMATED ANSWER SHEET GRADING SYSTEM</h1>
    <br><br>
    <img src="../static/Onscreen-Evaluation.gif" height="500" width="500">
</div>
{% endblock %}
