<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
crossorigin="anonymous"
/>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
 
  </head>
  <body>
    
    <div class="area">
        
        <div class="container">
            <div class="container">
                <div class="container">
            
        <form action = '/studenteditdashboard' method= 'POST'>
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="studentname"
                    placeholder="Enter User Name" name="studentname" value="{{current_user.name}}">
            </div>
            <div class="form-group">
               
                <input type="email" class="form-control" id="studentemail"
                    placeholder = "Enter the Email" name="studentemail" value="{{current_user.email}}" hidden> 
            </div>
            <div class="form-group">
                        <label for="regnumber">Register Number</label>
                        <input type="text" class="form-control" id="regnumber"
                            placeholder="Enter Register number" name="regnumber" value="{{current_user.register_number}}">
            </div>
            <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="date" class="form-control" id="studentdob"
                    placeholder = "Enter the Date of birth" name="studentdob" value="{{current_user.dob.date()}}">
            </div> 
            <div class="form-group">
            <label for="sex" >Sex</label> 
            <select for="studentsex" class="form-control" name="studentsex" >
        <option value="{{current_user.sex}}" class="form-control" >{{current_user.sex}}  
        </option>  
        <option value = "Male" class="form-control"> Male   
        </option>  
        <option value = "Female" class="form-control"> Female  
        </option>  
        <option value = "others" class="form-control"> others
        </option>  
    </select>    
    </div> 
        <div class="form-group">
            <label for="semester" >Semester</label> 
            <select for="semester" class="form-control" name="semester" >
        <option value="{{current_user.semester}}" class="form-control" >{{current_user.semester}}  
        </option>  
        <option value = "S1" class="form-control"> S1  
        </option>  
        <option value = "S2" class="form-control"> S2
        </option>  
        <option value = "S3" class="form-control"> S3
        </option> 
        <option value = "S4" class="form-control"> S4
        </option> 
        <option value = "S5" class="form-control"> S5
        </option> 
        <option value = "S6" class="form-control"> S6
        </option> 
        <option value = "S7" class="form-control"> S7
        </option> 
        <option value = "S8" class="form-control"> S8
        </option> 
    </div> 
</select>  <br>
          <div class="form-group">
            <label for="department" >Department</label> 
            <select for="studentdepartment" class="form-control" name="studentdepartment" >
        <option value="{{current_user.department}}" class="form-control" >{{current_user.department}} 
        </option>  
        <option value="IT" class="form-control">Information Technology (IT)</option>
        <option value="CSE" class="form-control">Computer Science(CSE)</option>
        <option value="EEE" class="form-control">Electrical Engineering (EEE)</option>
        <option value="ME" class="form-control">Mechanical Engineering (ME)</option>
        <option value="ECE" class="form-control">Electronics and Communication Engineering (ECE)</option>
        <option value="CE" class="form-control">Civil Engineering (CE)</option> 
          </select> <br>
        <button type="submit" class="btn bg-success">
                Update
            </button>
        </form>
        </div>
        
       
    </div><nav class="main-menu">
        
            <ul>
                <li>
                    <a href="{{url_for('views.studentdashboard')}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Home
                        </span>
                    </a>
                  
                </li>
                
               <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-edit fa-2x"></i>
                        <span class="nav-text">
                            Edit details
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{url_for('views.studentchangepassword')}}">
                       <i class="fa fa-lock fa-2x"></i>
                        <span class="nav-text">
                            Change password
                        </span>
                    </a>
                    
                </li>
                
                <!--li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Surveying Tutorials
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Surveying Jobs
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li-->
            </ul>

            <ul class="logout">
                <li>
                   <a href="{{url_for('auth.logout')}}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>

        
        
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
   
         
</body>
    </html>